<div class='main___comp'>
  <mat-grid-list cols='3' rowHeight='2:1'>
    <mat-grid-tile>
      <div class='container__card'>
        <mat-card>
          <mat-card-title-group>
            <mat-card-title>
              "sunt aut facere repellat provident occaecati excepturi optio reprehenderit"
            </mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            "quia et suscipit
            suscipit recusandae consequuntur expedita et cum
            reprehenderit molestiae ut ut quas totam
            nostrum rerum est autem sunt rem eveniet architecto"
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>

  </mat-grid-list>
</div>
