<div class='main___comp'>
  <p *ngIf='loading'>Loading.....</p>
  <mat-grid-list cols='2' rowHeight='2:1'>
    <mat-grid-tile
      *ngFor='let post of posts; let i = index'
    >
      <div class='container__card'>
        <mat-card>
          <mat-card-title-group>
            <mat-card-title
            >
              {{ post.title }}
            </mat-card-title>
          </mat-card-title-group>
          <mat-card-content>
            {{ post.body }}
          </mat-card-content>
        </mat-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
